{:paths   ["src/shared"]

 :deps    {com.fulcrologic/fulcro                 {;:git/url "https://github.com/fulcrologic/fulcro.git"
                                                   ;:git/sha "4a48377c145625d6797135f622ae4003d3c01b83"
                                                   :mvn/version "3.6.0-SNAPSHOT"}
           com.fulcrologic/fulcro-rad             {:mvn/version "1.3.14-SNAPSHOT"}
           com.fulcrologic/fulcro-rad-semantic-ui {:mvn/version "1.2.22-SNAPSHOT"}
           com.fulcrologic/fulcro-i18n            {:mvn/version "0.0.5-alpha"}
           com.wsscode/pathom                     {:mvn/version "2.4.0"}
           edn-query-language/eql                 {:mvn/version "1.0.2"}
           com.fulcrologic/guardrails             {:mvn/version "1.1.11"}

           org.postgresql/postgresql              {:mvn/version "42.5.1"}

           ;; Performance checks
           com.taoensso/tufte                     {:mvn/version "2.4.5"}

           ;; Server
           mount/mount                            {:mvn/version "0.1.17"}
           hiccup/hiccup                          {:mvn/version "1.0.5"}
           ring/ring-defaults                     {:mvn/version "0.3.4"}
           ring/ring-core                         {:mvn/version "1.9.6"}
           http-kit/http-kit                      {:mvn/version "2.5.3"}

           ;; Unified logging for server
           com.taoensso/timbre                    {:mvn/version "5.0.1"}
           org.slf4j/log4j-over-slf4j             {:mvn/version "1.7.36"} ; auto sends log4j to slf4j
           org.slf4j/jul-to-slf4j                 {:mvn/version "1.7.36"} ; auto sends java.util.logging to slf4j
           org.slf4j/jcl-over-slf4j               {:mvn/version "1.7.36"} ; auto-sends java.common.logging to slf4j
           com.fzakaria/slf4j-timbre              {:mvn/version "0.3.21"} ; hooks slf4j to timbre

           org.clojure/clojurescript              {:mvn/version "1.11.60"}
           org.clojure/clojure                    {:mvn/version "1.11.1"}}

 :aliases {:test      {:extra-paths ["src/shared-tests"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.12"}}}

           :sql       {:extra-paths ["src/sql" "src/sql-tests"]
                       :extra-deps  {com.h2database/h2              {:mvn/version "2.1.214" :exclusions [org.slf4j/slf4j-nop]}
                                     com.fulcrologic/fulcro-rad-sql {:mvn/version "0.0.4-alpha"}}}

           :datomic   {:extra-paths ["src/datomic"]
                       :extra-deps  {com.datomic/dev-local              {:mvn/version "1.0.243"}
                                     com.datomic/client-cloud           {:mvn/version "1.0.122"}
                                     com.fulcrologic/fulcro-rad-datomic {:mvn/version "1.3.6"}}}
           :asami     {:extra-paths ["src/asami" "src/asami-tests"]
                       :extra-deps  {cz.holyjak/fulcro-rad-asami {:git/url "https://github.com/holyjak/fulcro-rad-asami"
                                                                  :sha     "46b6f59643db171be0aa2b3bdc72806935f0ece4"}}}
           :xtdb      {:extra-paths ["src/xtdb" "src/xtdb-tests"]
                       :extra-deps  {com.xtdb/xtdb-core                   {:mvn/version "1.22.1"}
                                     com.xtdb/xtdb-rocksdb                {:mvn/version "1.22.1"}
                                     com.xtdb/xtdb-jdbc                   {:mvn/version "1.22.1"}
                                     net.clojars.roterski/fulcro-rad-xtdb {:mvn/version "0.0.1-alpha-7"}}}
           :run-tests {:main-opts  ["-m" "kaocha.runner"]
                       :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}}

           :dev       {:extra-paths ["src/dev" "resources"]
                       :extra-deps  {thheller/shadow-cljs                {:mvn/version "2.20.12"}
                                     com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.1.4"}
                                     binaryage/devtools                  {:mvn/version "1.0.6"}
                                     org.clojure/tools.namespace         {:mvn/version "1.3.0"}}}}}
