{:paths   ["src/shared"]

 :deps    {com.fulcrologic/fulcro                 {:mvn/version "3.5.6"}
           com.fulcrologic/fulcro-rad #_{:mvn/version "1.0.31"}
                                                  {:git/url "https://github.com/fulcrologic/fulcro-rad.git"
                                                   :sha     "cbcb9420b37fbaf2b691faafdc159ed4fc17bf34"}
           com.fulcrologic/fulcro-rad-semantic-ui {:mvn/version "1.2.1"}
           com.fulcrologic/fulcro-i18n            {:mvn/version "0.0.5-alpha"}
           com.wsscode/pathom3                    {:mvn/version "2021.11.16-alpha"}
           edn-query-language/eql                 {:mvn/version "1.0.1"}
           com.taoensso/encore                    {:mvn/version "3.1.0"}
           com.fulcrologic/guardrails             {:mvn/version "1.1.5"}

           org.postgresql/postgresql              {:mvn/version "42.2.8"}

           ;; Performance checks
           com.taoensso/tufte                     {:mvn/version "2.1.0"}

           ;; Server
           mount/mount                            {:mvn/version "0.1.12"}
           hiccup/hiccup                          {:mvn/version "1.0.5"}
           ring/ring-defaults                     {:mvn/version "0.3.2"}
           ring/ring-core                         {:mvn/version "1.8.1"}
           http-kit/http-kit                      {:mvn/version "2.5.0"}

           ;; Unified logging for server
           com.taoensso/timbre                    {:mvn/version "5.0.0"}
           org.slf4j/log4j-over-slf4j             {:mvn/version "1.7.30"} ; auto sends log4j to slf4j
           org.slf4j/jul-to-slf4j                 {:mvn/version "1.7.30"} ; auto sends java.util.logging to slf4j
           org.slf4j/jcl-over-slf4j               {:mvn/version "1.7.30"} ; auto-sends java.common.logging to slf4j
           com.fzakaria/slf4j-timbre              {:mvn/version "0.3.19"} ; hooks slf4j to timbre

           org.clojure/clojurescript              {:mvn/version "1.10.866"}
           org.clojure/clojure                    {:mvn/version "1.10.3"}}

 :aliases {:test      {:extra-paths ["src/shared-tests"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.11"}}}

           :sql       {:extra-paths ["src/sql" "src/sql-tests"]
                       :extra-deps  {com.h2database/h2              {:mvn/version "1.4.199" :exclusions [org.slf4j/slf4j-nop]}
                                     com.fulcrologic/fulcro-rad-sql {:git/url "https://github.com/fulcrologic/fulcro-rad-sql"
                                                                     :sha     "7a16171b9b96076b56aa19ec9abee2b6bd124a65"}}}

           :datomic   {:extra-paths ["src/datomic" "src/datomic-tests"]
                       :extra-deps  {com.datomic/datomic-free           {:mvn/version "0.9.5697" :exclusions [org.slf4j/slf4j-nop]}
                                     com.fulcrologic/fulcro-rad-datomic {:git/url "https://github.com/fulcrologic/fulcro-rad-datomic"
                                                                         :sha     "c524921eb607fc7e1df97fda6245087dd797109f"}}}
           :xtdb      {:extra-paths ["src/xtdb" "src/xtdb-tests"]
                       :extra-deps  {com.xtdb/xtdb-core                   {:mvn/version "1.19.0"}
                                     com.xtdb/xtdb-rocksdb                {:mvn/version "1.19.0"}
                                     com.xtdb/xtdb-jdbc                   {:mvn/version "1.19.0"}
                                     net.clojars.roterski/fulcro-rad-xtdb {:mvn/version "0.0.1-alpha-7"}}}
           :run-tests {:main-opts  ["-m" "kaocha.runner"]
                       :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}}

           :dev       {:extra-paths ["src/dev" "resources"]
                       :extra-deps  {thheller/shadow-cljs                {:mvn/version "2.15.12"}
                                     com.fulcrologic/semantic-ui-wrapper {:mvn/version "2.0.1"}
                                     binaryage/devtools                  {:mvn/version "1.0.0"}
                                     org.clojure/tools.namespace         {:mvn/version "1.0.0"}}}}}
